Node-RED/Node-redWithArduino&GUI.json
[
    {
        "id": "632e365f93c89218",
        "type": "tab",
        "label": "Hivemq",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e7098c9cf4ea01ed",
        "type": "mqtt in",
        "z": "632e365f93c89218",
        "name": "Subscribe Sensor Data",
        "topic": "sensor/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "49093550dc84aaa1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 620,
        "wires": [
            [
                "c75f7d20a30e7ea7"
            ]
        ]
    },
    {
        "id": "fe7dca54723c67a9",
        "type": "mqtt out",
        "z": "632e365f93c89218",
        "name": "Publish Sensor Data",
        "topic": "sensor/data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "49093550dc84aaa1",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "c75f7d20a30e7ea7",
        "type": "debug",
        "z": "632e365f93c89218",
        "name": "debug 125",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "7e32cda8efcaa237",
        "type": "mqtt in",
        "z": "632e365f93c89218",
        "name": "Subscribe ANN/FIS Result",
        "topic": "matlab/result",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "49093550dc84aaa1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "9856eecd8f07ecac",
                "e9272cb3273cff00"
            ]
        ]
    },
    {
        "id": "9856eecd8f07ecac",
        "type": "debug",
        "z": "632e365f93c89218",
        "name": "debug 126",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "71463a3f49badd69",
        "type": "serial in",
        "z": "632e365f93c89218",
        "name": "",
        "serial": "8550c95eec81dc98",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "fe7dca54723c67a9",
                "3a8bd01e5c440bae",
                "36e1f59da294b9a8"
            ]
        ]
    },
    {
        "id": "3a8bd01e5c440bae",
        "type": "debug",
        "z": "632e365f93c89218",
        "name": "debug 127",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "1d1e41921d61345f",
        "type": "serial out",
        "z": "632e365f93c89218",
        "name": "",
        "serial": "8550c95eec81dc98",
        "x": 650,
        "y": 960,
        "wires": []
    },
    {
        "id": "e9272cb3273cff00",
        "type": "function",
        "z": "632e365f93c89218",
        "name": "function 3",
        "func": "flow.set(\"Output_voltage\", msg.payload.voltage);\nflow.set(\"Duration\", msg.payload.duration);\nflow.set(\"water_quality\", msg.payload.water_quality);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 120,
        "wires": [
            [
                "0d41f84316cb0020"
            ]
        ]
    },
    {
        "id": "0d41f84316cb0020",
        "type": "debug",
        "z": "632e365f93c89218",
        "name": "debug 128",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "f23d8414158a4973",
        "type": "inject",
        "z": "632e365f93c89218",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 720,
        "wires": [
            [
                "c145e8dab4b3f1f4",
                "70550b574585d688",
                "0a9366a95c089230",
                "6591f5dcbed6681a"
            ]
        ]
    },
    {
        "id": "c145e8dab4b3f1f4",
        "type": "function",
        "z": "632e365f93c89218",
        "name": "Get Global Variable",
        "func": "var voltage = flow.get(\"Output_voltage\");\nvoltage = parseFloat(voltage).toFixed(2); \nmsg.payload = voltage;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 700,
        "wires": [
            [
                "e522ef76ca1e52a5"
            ]
        ]
    },
    {
        "id": "36e1f59da294b9a8",
        "type": "json",
        "z": "632e365f93c89218",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "3e5747c9d25185a2",
                "3d4b4cbe3efd04a4",
                "8e78e891f778d17d",
                "cf57d64668963d76",
                "33fb9ef2dd5ea11d",
                "a8d01400c07aeb34",
                "9c9b12307dd24652"
            ]
        ]
    },
    {
        "id": "3e5747c9d25185a2",
        "type": "change",
        "z": "632e365f93c89218",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.T_DHT22",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "cc7f7abc89501bbc"
            ]
        ]
    },
    {
        "id": "3d4b4cbe3efd04a4",
        "type": "change",
        "z": "632e365f93c89218",
        "name": "H_DHT22",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.H_DHT22",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 340,
        "wires": [
            [
                "de3e539da07b308f"
            ]
        ]
    },
    {
        "id": "8e78e891f778d17d",
        "type": "change",
        "z": "632e365f93c89218",
        "name": "Light_Intensity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Light_Intensity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "48bdb2cf775cf1a0"
            ]
        ]
    },
    {
        "id": "cf57d64668963d76",
        "type": "change",
        "z": "632e365f93c89218",
        "name": "Soil_Moisture",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Soil_Moisture",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "8f9c22c2ab01f34f"
            ]
        ]
    },
    {
        "id": "33fb9ef2dd5ea11d",
        "type": "change",
        "z": "632e365f93c89218",
        "name": "PH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "8f163d3f1cabcd2c"
            ]
        ]
    },
    {
        "id": "a8d01400c07aeb34",
        "type": "change",
        "z": "632e365f93c89218",
        "name": "EC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.EC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 500,
        "wires": [
            [
                "41777c448da3696d"
            ]
        ]
    },
    {
        "id": "9c9b12307dd24652",
        "type": "change",
        "z": "632e365f93c89218",
        "name": "TDS",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.TDS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "1579300efca27a2e"
            ]
        ]
    },
    {
        "id": "cc7f7abc89501bbc",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "30fa884dee33e2ab",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature(°C)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "de3e539da07b308f",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "30fa884dee33e2ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "48bdb2cf775cf1a0",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "30fa884dee33e2ab",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 380,
        "wires": []
    },
    {
        "id": "8f9c22c2ab01f34f",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "30fa884dee33e2ab",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Soil Moisture",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "8f163d3f1cabcd2c",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "0d4bbb1dc738347d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PH Value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "41777c448da3696d",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "0d4bbb1dc738347d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "EC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "1579300efca27a2e",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "0d4bbb1dc738347d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "TDS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "70550b574585d688",
        "type": "function",
        "z": "632e365f93c89218",
        "name": "Get Global Variable",
        "func": "var Duration = flow.get(\"Duration\");\nDuration = parseFloat(Duration).toFixed(2); \nmsg.payload = Duration + \"\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 760,
        "wires": [
            [
                "2a0764efbd74633e"
            ]
        ]
    },
    {
        "id": "e522ef76ca1e52a5",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "38b323bb4f51a7b5",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 700,
        "wires": []
    },
    {
        "id": "2a0764efbd74633e",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "38b323bb4f51a7b5",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Duration",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 760,
        "wires": []
    },
    {
        "id": "0a9366a95c089230",
        "type": "function",
        "z": "632e365f93c89218",
        "name": "Get Global Variable",
        "func": "var water_quality = flow.get(\"water_quality\");\nwater_quality = parseFloat(water_quality).toFixed(2); \nmsg.payload = water_quality;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 820,
        "wires": [
            [
                "1d730348a0d4a5a7"
            ]
        ]
    },
    {
        "id": "1d730348a0d4a5a7",
        "type": "ui_text",
        "z": "632e365f93c89218",
        "group": "38b323bb4f51a7b5",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water_Quality",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 820,
        "wires": []
    },
    {
        "id": "e28de3c13cc7291e",
        "type": "debug",
        "z": "632e365f93c89218",
        "name": "debug 129",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 900,
        "wires": []
    },
    {
        "id": "6591f5dcbed6681a",
        "type": "function",
        "z": "632e365f93c89218",
        "name": "function 4",
        "func": "var voltage = flow.get(\"Output_voltage\");\n    voltage = parseFloat(voltage).toFixed(2); \n\nvar Duration = flow.get(\"Duration\");\nDuration = parseFloat(Duration).toFixed(2); \n\nmsg.payload = {\n    voltage : voltage,  \n    Duration : Duration\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 900,
        "wires": [
            [
                "e28de3c13cc7291e",
                "1d1e41921d61345f"
            ]
        ]
    },
    {
        "id": "49093550dc84aaa1",
        "type": "mqtt-broker",
        "name": "Cloud Hivemq Broker  ",
        "broker": "178bb5ab32b2442eaa765b6fcba48e4c.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "21233af589e95b91",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8550c95eec81dc98",
        "type": "serial-port",
        "name": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "30fa884dee33e2ab",
        "type": "ui_group",
        "name": "Fuzzy",
        "tab": "eca26b2facea1c1b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d4bbb1dc738347d",
        "type": "ui_group",
        "name": "ANN",
        "tab": "eca26b2facea1c1b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38b323bb4f51a7b5",
        "type": "ui_group",
        "name": "Output",
        "tab": "eca26b2facea1c1b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21233af589e95b91",
        "type": "tls-config",
        "name": "TLS_HiveMQ",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "eca26b2facea1c1b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]